{% extends "baseAuth.html" %} {% block title %}Password Reset{% endblock %} {% block form1 %}
<h1 class="text-center">Reset Password</h1>
<div class="container-fluid justify-content-center rounded" style="background-color: #98c1d9">
	<form method="POST">
		<div class="col-md-7 mb-3">
			<label for="passowrd">New Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
		</div>

		<div class="col-md-7 mb-3">
			<label for="confirmPassword">Confirm New Password</label>
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
		</div>

		<div class="col-md-7 mb-3 align-bottom">
			<button type="button" class="btn btn-primary" onclick="showPassword()"><i class="fa-sharp fa-solid fa-eye" id="eye-icon"></i></button>
		</div>

		<div class="col-md-6">
			<button class="btn btn-primary" type="submit" onclick="validatePassword()">Reset</button>
		</div>
	</form>
</div>
{% endblock %} {% block formInfo %}

<!-- Insert Logo -->

{% endblock %}
