{% extends "base.html" %}

{% block body %}
    
<h2>Your Videos</h2>
    <div class="container" style="text-align: center;"> 
        {% for v in videos %}
        <div>
            <iframe width="300" height="225" src="{{ v }}" allowfullscreen> 
            </iframe>
            <p>NAME</p>
        </div>
        {% endfor %}
        <!-- <p>~ Video goes here ~</p>
        <img src="../static/assets/VideoPlayer.png" alt="Placeholder" style="width: 300px; height: 250px;">
        <p style="text-align: bottom;"> Video Description</p> -->
       </div>
{% endblock %}