{% extends "base.html" %} {% block title%}Video Recording{% endblock %} {% block head %}
<style>
	.containerbtn {
		height: 50px;
		position: relative;
	}

	.centerbtn {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
</style>

{% endblock %} {% block body %}
<div class="container" style="text-align: center">
	<h2>Start Recording</h2>
	<!-- <p>Video length:</p> -->
	<img src="{{ url_for('video_feed') }}" height="80%">
	<p style="text-align: left">Name: {{ name }}</p>
	<p style="text-align: left">Location: {{ data.city }}, {{ data.region }}</p>
</div>

<div class="containerbtn">
	<!-- <div class="centerbtn">
		<button type="button" class="btn btn-primary"><i class="fa-solid fa-camera"></i></button>
		<button type="button" class="btn btn-primary"><i class="fa-sharp fa-solid fa-microphone-slash"></i></button>
		<button type="button" class="btn color" style="background-color: red; border-color: black"><i class="fa-solid fa-record-vinyl"></i></button>
	</div> -->
	<div class="centerbtn">
		<form method="post">
			<input type="submit" value="Stop/Start" name="stop" class="btn btn-primary" style="background-color: red; border-color: black"/>
			<input type="submit" value="mute" name="mute" class="btn btn-primary" style="background-color: {{ color }}; border-color: black"/>
			<input type="submit" value="Capture" name="click" class="btn btn-primary"/>
			<input type="submit" value="Grey" name="grey" class="btn btn-primary" />
			<input type="submit" value="Negative" name="neg" class="btn btn-primary" />
			<input type="submit" value="Start/Stop Recording" name="rec" class="btn btn-primary" />
		</form>

	</div>

</div>

{% endblock %}
