{% extends "base.html" %}

{% block body %}
    
<h2>Your Videos</h2>
    <div class="container" style="text-align: center;"> 
        {% for v, n in name %}
        <div>
            <iframe width="300" height="225" src="{{ v }}" allowfullscreen> 
            </iframe>
            <form method="POST">
                <Label class="pud">{{ n }}</Label><button class="btn btn-primary" type="hidden"  name="Delete" value="{{ n }}" id="3">Delete</button>
            </form>
        </div>
        {% endfor %}
        <!-- <p>~ Video goes here ~</p>
        <img src="../static/assets/VideoPlayer.png" alt="Placeholder" style="width: 300px; height: 250px;">
        <p style="text-align: bottom;"> Video Description</p> -->
       </div>
{% endblock %}