{% extends "baseAuth.html" %}

{% block form1 %} 

<!--Create a form with a email input box and Send Request button-->
<h1 class="text-center">Forgot Password</h1>

<div class="container-fluid justify-content-center rounded" style="background-color:#98c1d9;">
    <form>
        <div class="form-group mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary" onclick="validateEmail()">Send Request</button>
    </form>
</div>
{% endblock %}

{% block formInfo %} 

<h3 class="text-center" style="color:#98c1d9">
    Return to <a href="/login" style="color:#ee6c4d">Login</a>
</h3>

{% endblock %}