{% extends "navbar.html" %}

{% block body %}
    <body class="d-flex flex-column h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col text-center">
                    <h1>Video's Made Easy</h1>
                    <br/>
                    <h3>Create amazing videos in seconds with one simple click! You can review your own videos and also record them. </h3>
                    <h3>Make your video content stand out from the crowd by offering a great extent of customization for all its solutions. </h3>
                    <br/>
                    <div class="col text-center">
                        <button onclick="location.href='videorec'" type="button" class="btn btn-secondary btn-large">Make a Video Now !</button>
                    </div>
                </div>
            </div>
        </div>

    </body>


{% endblock %}

    








