{% extends "base.html" %}

{% block body %}
    <body class="d-flex flex-column h-100">
        
        <div class="d-flex align-items-center justify-content-center" style="height: 700px;">
            
            <div class="row">
                <div class="col text-center">
                    <h1>Video Making Made Easy</h1>
                    <br/>
                    <h3>Create amazing videos in seconds with one simple click! You can record your own videos and review them. </h3>
                    <h3>Make your video content stand out from the crowd by offering a great extent of customization for all its solutions. </h3>
                    <br/>
                    <div class="col text-center">
                        <button onclick="location.href='videorec'" type="button" class="btn btn-danger rounded"><i class="fa-solid fa-record-vinyl fa-3x"></i><br/><h6>Click this button to make a Video !</h6></button>
                        <br/><br/>
                        <h6>1. Once you finished making the video, you will receive an email that takes you to the Video Player</h6>
                        <h6>2. Click the link and then watch the Video</h6>
                        <h6>3. You can then visit the Storage page to watch your past videos</h6>

                    </div>
                    
                </div>
            </div>
        </div>

    </body>


{% endblock %}

    








