{% extends "base.html" %}

{% block head %}
    <h1>LOGIN</h1>
{% endblock %}

{% block body %}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary" onclick="validateLoginForm()">Submit</button>
    </form>
{% endblock %}