{% extends "baseAuth.html" %}

{% block form1 %}
<div class="container">
    <form>
        <div class="col-md-7 mb-3">
            <label for="passowrd">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <div class="col-md-7 mb-3">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
            <button type="button" class="btn btn-primary" onclick="showPassword() ">Show Password</button>
        </div>

        

        <div class="col-md-6">
            <button class="btn btn-primary" type="submit" onclick="validateSignUpForm()">Submit form</button>
        </div>

    </form>
</div>
{% endblock %}

{% block formInfo %}

<!-- Insert Logo -->

{% endblock %}