{% extends "base.html" %}

{% block title%}
    <h1> Video Recording </h1>
{% endblock %}

{% block head %}{% endblock %}

{% block body %} 
<div class="container" style="text-align: center;"> 
    <h2>Start Recording </h2>
    <p>Video length: </p>
    <img src="../static/uploads/VideoRecording.png" alt="Placeholder" style="width: 300px; height: 250px;">
    <p style="text-align: left;"> Name: </p>
    <p style="text-align: left;"> Location:</p>
   </div>

   <button type="button" class="btn btn-primary">
    <i class="fa-solid fa-camera-web"></i>

   </button>
   <button type="button" class="btn btn-primary"> Mic </button>
   <button type="button" class="btn" > Record </button>


{% endblock %}